//---------------
// Book
//---------------

.book { 
    
    &__section {
        text-align: center;
        padding: 20px;
        @include laptop {
            padding: 0;
        }
    }

    &__wrap {
        max-width: 600px;
        margin: 0 auto;
        text-align: center;
    }
    
    &__title {
        color: white;
        text-shadow: -5px 3px rgba(0, 0, 0, 0.44);
        padding: 40px 0;
    }

    &__chapter {
        color: #ffe352;
        padding-bottom: 40px;
    }

    &__text {
        color: cornsilk;
    }

    &__button {
        margin: 40px 0;
        padding: 20px;
        font-weight: bold;
        color: white;
        border: 1px solid $dark-green;
        background-color: $dark-green;
        outline: none;
        
        @include laptop {
            color: white;
            background-color: rgba(0,0,0,0.6);
            transition: .5s background-color, border ease;
    
            &:hover {
                background-color: #ffe352;
                border: 1px solid #ffe352;
                color: black;
            }
        }

    }

    &__detail {
        @include laptop {
            position: fixed;
            bottom: 0;
            top: 0;
            width: 100%;
            height: 100vh;
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 0.6;
            background-image: url('../images/thorns.png');
            z-index: -1;
        }
    }
}
