@font-face {
  font-family: "CelticMD";
  src: url("../fonts/celticmd.ttf");
}

@font-face {
  font-family: "Great Vibes", cursive;
  src: url("../fonts/subset-GreatVibes-Regular.ttf");
}

@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("../fonts/subset-GreatVibes-Regular.ttf");
}

/* line 1, assets/sass/lib/_reset.scss */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/* line 28, assets/sass/lib/_reset.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

/* line 38, assets/sass/lib/_reset.scss */
ul {
  list-style: none;
}

/* line 42, assets/sass/lib/_reset.scss */
button,
input,
select,
textarea {
  margin: 0;
}

/* line 49, assets/sass/lib/_reset.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 57, assets/sass/lib/_reset.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 62, assets/sass/lib/_reset.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 68, assets/sass/lib/_reset.scss */
input {
  line-height: normal;
}

/* line 72, assets/sass/lib/_reset.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 78, assets/sass/lib/_reset.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 83, assets/sass/lib/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 90, assets/sass/lib/_reset.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 95, assets/sass/lib/_reset.scss */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

/* line 102, assets/sass/lib/_reset.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 108, assets/sass/lib/_reset.scss */
legend {
  border: 0;
  padding: 0;
}

/* line 113, assets/sass/lib/_reset.scss */
textarea {
  overflow: auto;
}

/* line 117, assets/sass/lib/_reset.scss */
optgroup {
  font-weight: bold;
}

/* line 121, assets/sass/lib/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 126, assets/sass/lib/_reset.scss */
html {
  box-sizing: border-box;
}

/* line 130, assets/sass/lib/_reset.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 134, assets/sass/lib/_reset.scss */
img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

/* line 144, assets/sass/lib/_reset.scss */
iframe {
  border: 0;
}

/* line 148, assets/sass/lib/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 153, assets/sass/lib/_reset.scss */
td,
th {
  padding: 0;
  text-align: left;
}

/* line 1, assets/sass/_generics.scss */
body {
  position: relative;
  color: #262626;
  background-image: url("../images/ep_naturalwhite.png");
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  z-index: 1;
}

/* line 11, assets/sass/_generics.scss */
body:after {
  content: '';
  position: absolute;
  top: 0;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, #fff 0%, #465046 100%);
  opacity: 0.6;
  z-index: -1;
}

/* line 23, assets/sass/_generics.scss */
h1, h2 {
  font-family: "Great Vibes", cursive;
  text-align: center;
}

/* line 28, assets/sass/_generics.scss */
h1, h2, p {
  margin: 0;
}

/* line 32, assets/sass/_generics.scss */
h1 {
  font-size: 4em;
  margin-bottom: 0;
}

/* line 37, assets/sass/_generics.scss */
h2 {
  font-size: 2.5em;
  color: #2C3E50;
}

/* line 42, assets/sass/_generics.scss */
p {
  margin-top: 20px;
  line-height: 1.4em;
  text-align: left;
}

/* line 49, assets/sass/_generics.scss */
p::first-letter {
  float: left;
  font-size: 5em;
  margin: 0.4em 0 0 0;
  padding: 8px;
  font-family: "CelticMD";
}

/* line 57, assets/sass/_generics.scss */
::-webkit-scrollbar {
  width: 10px;
}

/* line 61, assets/sass/_generics.scss */
::-webkit-scrollbar-track {
  background-color: #262626;
}

/* line 65, assets/sass/_generics.scss */
::-webkit-scrollbar-thumb {
  background-color: #2C3E50;
  transition: .5s background-color ease;
}

/* line 70, assets/sass/_generics.scss */
::-webkit-scrollbar-thumb:hover {
  background-color: #3e5871;
}

/* line 7, assets/sass/blocks/_book.scss */
.book__section {
  text-align: center;
  padding: 20px;
}

/* line 15, assets/sass/blocks/_book.scss */
.book__wrap {
  max-width: 740px;
  margin: 0 auto;
  text-align: center;
}

/* line 21, assets/sass/blocks/_book.scss */
.book__title {
  color: #2C3E50;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
  padding: 40px 0;
}

/* line 27, assets/sass/blocks/_book.scss */
.book__chapter {
  color: #28496b;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
  padding-bottom: 40px;
}

/* line 33, assets/sass/blocks/_book.scss */
.book__button {
  margin: 40px 0;
  border: 1px solid #465046;
  padding: 20px;
  font-weight: bold;
  color: white;
  background-color: #465046;
  outline: none;
}
@media (min-width: 640px) {
  /* # */
}
@media (min-width: 910px) {
  /* # */
}
@media (min-width: 1140px) {
  /* # */
  /* line 7, assets/sass/blocks/_book.scss */
  .book__section {
    padding: 0;
  }
  /* line 33, assets/sass/blocks/_book.scss */
  .book__button {
    color: #465046;
    background-color: transparent;
    transition: .5s background-color ease;
  }
  /* line 47, assets/sass/blocks/_book.scss */
  .book__button:hover {
    background-color: #465046;
    color: white;
  }
  /* line 55, assets/sass/blocks/_book.scss */
  .book__detail {
    position: fixed;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
    background-image: url("../images/thorns.png");
    -webkit-filter: drop-shadow(2px 4px 6px black);
            filter: drop-shadow(2px 4px 6px black);
    z-index: -1;
  }
}
@media (min-width: 1420px) {
  /* # */
}
@media (max-width: 639px) {
  /* # */
}
@media (max-width: 909px) {
  /* # */
}
@media (max-width: 1139px) {
  /* # */
}
@media (max-width: 1419px) {
  /* # */
}
